@import '~@bcmi-labs/sass/src/variables';
@import '../../ui-controls-variables';

%popover {
  @extend %tooltip-base;

  padding: 12px 16px;
  background: $white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  color: $black;
  white-space: normal;
  z-index: 50;
}

.popover {
  @extend %popover;
}
