@import '~@bcmi-labs/sass/src/variables';
@import '~@bcmi-labs/sass/src/mixins';

.loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader--spinner {
    @include spinner( $teal3, white, 64px);
  }
}

.tiny-loader {
  .loader--spinner {
    @include spinner( white, $teal3, 21px);

    margin: 0 9px 0 -5px;
  }
}
