{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ]
  ],
  "branches": [
    "main",
    {
      "name": "next",
      "channel": "next",
      "prerelease": "next"
    },
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": "beta"
    }
  ]
}