@import '~arduino-sass/src/variables';
@import '~arduino-sass/src/typography';
@import '~arduino-sass/src/buttons';
@import '../ui-controls-variables';
@import '../../themes/themes.scss';

.button {
  @extend %button-base;

  // VARIANTS

  &.primary {
    background-color: var(--arduino-button-primary-bg);
    color: var(--arduino-button-primary-label);

    &:hover {
      background-color: var(--arduino-button-primary-bg-hover);
    }

    &:active::after,
    &:focus::after {
       box-shadow: 0 0 0 2px var(--arduino-button-primary-outline);
    }
  }

  &.secondary {
    color: var(--arduino-button-secondary-label);
    border: 1.5px solid var(--arduino-button-secondary-border);

    &:hover {
      background-color: var(--arduino-button-secondary-bg-hover);
    }

    &:active::after,
    &:focus::after {
      box-shadow: 0 0 0 2px var(--arduino-button-secondary-outline);
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      top: -1.5px;
      left: -1.5px;
    }

  }

  &.tertiary {
    color: var(--arduino-button-tertiary-label);

    &:hover {
      color: var(--arduino-button-tertiary-label-hover);
    }

    &:active::after,
    &:focus::after {
      box-shadow: 0 0 0 2px var(--arduino-button-tertiary-outline);
    }

  }

  &.ghost {
    color: $black;
    border-color: $black;

    &:hover {
      background-color: transparentize($black, 0.8);
    }
  }

  &.warning {
    color: $white;
    background-color: $notifyerror;
    border-color: transparent;

    &:hover {
      background-color: darken($notifyerror, 10);
    }
  }

  // SIZINGS

  &.big {
    @extend %arduino-typography-medium-strong;

    height: 50px;
  }

  &.normal {
    @extend %arduino-typography-small-strong;

    height: 38px;
  }

  &.small {
    @extend %arduino-typography-x-small-strong;

    height: 30px;
  }

  &.full {
    width: 100%;
  }
}

.button, .button:hover {
  background-color: transparent;
}
