@import '~arduino-sass/src/variables';
@import '~arduino-sass/src/typography';
@import '~arduino-sass/src/buttons';
@import '../ui-controls-variables';

.button {
  @extend %button-base;

  // VARIANTS

  &.primary {
    background-color: var(--button-primary-background);
    color: var(--button-primary-foreground);
    border: 2px solid var(--button-primary-border);
    border-color: var(--button-primary-borderColor);

    &:hover {
      background-color: var(--button-primary-hoverBackground);
    }
    
    &:focus,
    &:active {
      background-color: var(--button-primary-activeBackground);

      &::after {
        box-shadow: 0 0 0 2px var(--button-primary-activeBoxShadow);
      }
    }
  }

  &.secondary {
    color: var(--button-secondary-foreground);
    background-color: var(--button-secondary-background);
    border: 1.5px solid var(--button-secondary-border);
    border-color: var(--button-secondary-borderColor);

    &:hover {
      background-color: var(--button-secondary-hoverBackground);
    }

    &:focus,
    &:active {
      &::after {
        width: calc(100% + 3px);
        height: calc(100% + 3px);
        top: -1.5px;
        left: -1.5px;
        box-shadow: 0 0 0 2px var(--button-secondary-activeBoxShadow);
      }
    }

  }

  &.tertiary {
    color: var(--button-tertiary-foreground);
    background-color: var(--button-tertiary-background);
    border-color: transparent;

    &:hover {
      background-color: var(--button-tertiary-hoverBackground);
      box-shadow: var(--button-tertiary-hoverBoxShadow);
    }

    &:focus,
    &:active {
      color: var(--button-tertiary-activeForeground);

      &::after {
        box-shadow: 0 0 0 2px var(--button-tertiary-activeBoxShadow);
      }
    }

  }

  &.ghost {
    color: var(--button-ghost-foreground);
    background-color: var(--button-ghost-background);
    border-color: var(--button-ghost-borderColor);

    &:hover {
      background-color: var(--button-ghost-hoverBackground);
    }
  }

  &.warning {
    color: var(--button-warning-foreground);
    background-color: var(--button-warning-background);
    border-color: var(--button-warning-borderColor);

    &:hover {
      background-color: var(--button-warning-hoverBackground);
    }
  }

  // SIZINGS

  &.big {
    @extend %arduino-typography-medium-strong;

    height: 50px;
  }

  &.normal {
    @extend %arduino-typography-small-strong;

    height: 38px;
  }

  &.small {
    @extend %arduino-typography-x-small-strong;

    height: 30px;
  }

  &.full {
    width: 100%;
  }
}
