@import '~arduino-sass/src/variables';
@import '~arduino-sass/src/typography';
@import '~arduino-sass/src/buttons';
@import '../ui-controls-variables';

.button {
  @extend %button-base;

  // VARIANTS

  &.primary {

    &.dark {
      color: $onyx;
      background-color: $teal1;
      border: 2px solid $teal1;
      border-color: transparent;

      &:hover {
        background-color: $teal0;
      }

      &:focus,
      &:active {
        background-color: $teal1;

        &::after {
          box-shadow: 0 0 0 2px $fog;
        }
      }
    }
  }

  &.secondary {
    color: $teal3;
    background-color: transparent;
    border-color: $teal3;

    &:hover {
      background-color: transparentize($teal5, 0.9);
    }

    &.dark {
      color: $fog;
      border: 1.5px solid $fog;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:focus,
      &:active {
        &::after {
          width: calc(100% + 3px);
          height: calc(100% + 3px);
          top: -1.5px;
          left: -1.5px;
          box-shadow: 0 0 0 2px $teal0;
        }
      }
    }
  }

  &.tertiary {
    color: $teal3;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: $white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &.dark {
      color: $teal1;

      &:hover {
        color: $teal0;
        background-color: transparent;
      }

      &:focus,
      &:active {
        color: $teal0;
        
        &::after {
          box-shadow: 0 0 0 2px $teal0;
        }
      }
    }
  }

  &.ghost {
    color: $black;
    background-color: transparent;
    border-color: $black;

    &:hover {
      background-color: transparentize($black, 0.8);
    }
  }

  &.warning {
    color: $white;
    background-color: $notifyerror;
    border-color: transparent;

    &:hover {
      background-color: darken($notifyerror, 10);
    }
  }

  // SIZINGS

  &.big {
    @extend %arduino-typography-medium-strong;

    height: 50px;
  }

  &.normal {
    @extend %arduino-typography-small-strong;

    height: 38px;
  }

  &.small {
    @extend %arduino-typography-x-small-strong;

    height: 30px;
  }

  &.full {
    width: 100%;
  }
}
