@import '../ui-controls-variables';

.wrapper {
  position: relative;
}

.field {
  position: relative;
  box-sizing: border-box;

  &:global(.textarea__field)::before {
    height: 26px;
    background-color: #fff;
    position: absolute;
    left: 5px;
    right: 17px;
    content: '';
    top: 1px;
  }

  input,
  textarea,
  :global(.phone-input__input),
  :global(.zh-datepicker),
  :global(.zh-select) {
    // Shrink and move upwards label when the input is focused or has text
    &:focus ~ .label,
    &:global(.hasValue) ~ .label {
      @include text-config($font-size-xx-small, $letter-spacing-default, $line-height-default);

      color: #000;
      transform: translateY(-14px);
    }

    &:-webkit-autofill ~ .label,
    &:-webkit-autofill:hover ~ .label,
    &:-webkit-autofill:focus ~ .label {
      @extend %arduino-typography-xx-small;

      color: #000;
      transform: translateY(-14px);
    }

    &:global(.disabled) ~ .label,
    &:disabled ~ .label {
      opacity: 0.5;
    }

    // Display red asterisk next to label when input is required
    &:required ~ .label::after,
    &:global(.required) ~ .label::after {
      @extend %red-asterisk;
    }
  }
}

:global(.zh-select) {
  ~ .label {
    @extend %nowrap-ellipsis;

    padding-right: 40px;
  }

  &:focus ~ .label,
  &:global(.hasValue) ~ .label {
    padding-right: 5px;
  }
}

.label {
  position: absolute;
  top: 17px;
  padding-left: 20px;
  align-items: center;
  color: $dust;
  transition: color 0.2s ease, font-size 0.2s ease, transform 0.2s ease;
  transform: translateY(0); // Improve perfo when translating later
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  pointer-events: none;
}

.statusWrapper {
  @include text-config($font-size-xx-small, $letter-spacing-default, $line-height-default);

  display: block;
  margin-top: 4px;
  min-height: 17px;

  .success,
  .error {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .success {
    color: $notifysuccess;
  }

  .error {
    color: $notifyerror;
  }

  .info {
    margin-left: 2px;
    font-weight: normal;
    color: $gris;

    @extend %default-link;
  }

  svg {
    font-size: 13px;
    margin-right: 4px;
  }
}
