$dialog-background-animation-delay: 0ms;
$dialog-background-exit-animation-ease: cubic-bezier(.5, 0, 1, 1);
$dialog-background-entry-animation-ease: ease-out;

$animation-duration: 130ms;

%underlay {
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Float above things by default.
    Must be higher than popover in order to hide it
  */
  z-index: 60;
}

.underlay {
  @extend %underlay;

  opacity: 0;
  background-color: rgba(0, 0, 0, .8);
  overflow: hidden;

  /* Exit animations */
  transition:
    opacity $animation-duration $dialog-background-exit-animation-ease $dialog-background-animation-delay,
    visibility 0ms linear ($dialog-background-animation-delay + $animation-duration);

  &.is-open {
    visibility: visible;

    /* In Edge (pre chromium), a stacking context is formed for opacity less then 1, and then its removed for 1.
      It causes a rendering flicker that is visible when css transition is applied. */
    opacity: .9999;
    pointer-events: auto;

    /* Entry animations */
    transition: opacity $animation-duration $dialog-background-entry-animation-ease $dialog-background-animation-delay,;
    transition-delay: 0ms;
  }
}
