/*
  @mixin generateThemeMappings(themeVar: string, themeRule: map)
  helper function for generating list of theme variables and adding to existing map.
  This will add a new theme to the themes array and the theme color list.
*/
@mixin generateThemeMappings($themeVar, $themeRules) {

  @each $key, $value in $themeRules {
    
    @if not index($themeNames, $key) {
      $themeNames: append($themeNames, $key) !global;
    }

    //adds new themeKey if doesn't exist
    @if not map-has-key($themeValues, $key) {
      $themeValues: map-merge($themeValues, ($key: ( $themeVar: $value ))) !global;
    }

    //adds to existing key map
    @else {
      $existingKeyMap: map-get($themeValues, $key);

      //if theme variable doesn't exist, add it
      @if not map-get($existingKeyMap, $themeVar) {
        $newKeyMap: map-merge($existingKeyMap, ( $themeVar: $value ));
        $themeValues: map-merge($themeValues, ( $key: $newKeyMap )) !global;
      }
    }
  }
}

/*
  @mixin generateThemeVariables
  Auto-generates the entire list of theme variables for use in var() statements.
*/
@mixin generateThemeVariables($currentTheme) {
  // @debug $themeValues;

  @each $theme, $style in $themeValues {
    @if ($theme == $currentTheme) {
      @each $key, $val in $style {
        #{$key}: #{$val};
      }
    }  
  }
}
