@import './mixins.scss';
@import './colors.scss';

$themeValues: ();
$themeNames: ();
$defaultTheme: 'default';

:root {
  @each $themeVar, $themeRules in $themes {
    @include generateThemeMappings($themeVar, $themeRules);

    @each $key, $value in $themeRules {
      @if not index($themeNames, $key) {
        $themeNames: append($themeNames, $key) !global;
        
        @if ($key != $defaultTheme) {
          .arc-#{$key} {
            @include generateThemeVariables($key);
          }
        }
      }
    }
  }

  @include generateThemeVariables($defaultTheme);

}
