@import '~@bcmi-labs/sass/src/variables';
@import '~@bcmi-labs/sass/src/typography';
@import '~@bcmi-labs/sass/src/checkbox';
@import '~@bcmi-labs/sass/src/radiobutton';
@import '../ui-controls-variables';

$border-radius: 3px;

%with-error {
  outline: none;
  box-shadow: 0 0 0 3px $notifyerror !important;
  border-color: transparent;
}

%with-focus {
  outline: none;
  box-shadow: 0 0 0 3px $teal0 !important;
  border-color: transparent;
}

%label-text {
  .labeltext {
    font-weight: 400;
    line-height: 23px;
    // Display red asterisk next to label when input is required
    &.required::after {
      @extend %red-asterisk;
    }
  }
}

.checkbox {
  @extend %ardu-checkbox;
  @extend %arduino-typography-x-small;
  @extend %default-link;
  @extend %label-text;

  display: flex;
  align-items: flex-start;

  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: block !important;
  }

  .input:focus + .custom-checkbox {
    @extend %with-focus;
  }

  .input:checked + .custom-checkbox {
    border-color: $jet;
    background-color: $gris;
  }

  .input.error + .custom-checkbox {
    @extend %with-error;
  }

  .custom-checkbox {
    padding: 9px;
    border-color: $silver;
  }

  &:hover {
    .custom-checkbox {
      background-color: rgba($black, .1);
      border-color: $gris;
    }
  }

  &.indeterminate {
    .custom-checkbox {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.5H12H0Z' stroke='white' stroke-width='1.5'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-color: $gris;
    }
  }

  &.disabled {
    opacity: .5;
  }

  // Display red asterisk next to label when input is required
  .required::after {
    @extend %red-asterisk;
  }
}

.radio {
  @extend %ardu-radio;
  @extend %arduino-typography-x-small;
  @extend %default-link;
  @extend %label-text;

  input {
    display: block;
    position: absolute;
    opacity: 0;
  }

  display: flex;
  align-items: flex-start;

  .input:focus + .custom-radio {
    @extend %with-focus;
  }

  .input.error + .custom-radio {
    @extend %with-error;
  }

  .input:checked + .custom-radio {
    border-color: $gris;
  }

  .custom-radio {
    @include size(16px);

    border-color: $silver;

    &::before {
      @include size(10px);

      position: absolute;
      left: calc(50% - 10px / 2);
      top: calc(50% - 10px / 2);
      transition: none;
    }
  }

  &:hover {
    .custom-radio {
      background-color: rgba($black, .1);
      border-color: $gris;
    }
  }

  &.disabled {
    opacity: .5;
  }
}
