.pre {
  text-align: left;
  margin: 1em 0;
  padding: .8em;
  overflow: scroll;

  & :global(.token-line) {
    line-height: 1.1em;
    height: 1.1em;

    * {
      font-family: monospace !important;
    }
  }

  code {
    display: table-row;

    .lineNo {
      display: table-cell;
      text-align: right;
      padding-right: 1em;
      user-select: none;
      opacity: .5;
    }

    .lineContent {
      display: table-cell;
    }
  }
}

.inlinecode {
  display: inline-block;
  padding: 0 .4rem;
  border-radius: .3rem;
  margin: 0;

  & :global(.token-line) {
    font-size: .95rem;

    * {
      font-family: monospace !important;
    }
  }
}
