@import url(https://unpkg.com/leaflet@1.3.4/dist/leaflet.css);
@import url(https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css);
@import url(https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css);
@import '~@bcmi-labs/sass/src/variables';

/* overwrite leaflet defaults */
.leaflet-popup-content-wrapper {
  background-color: $feather;
  border-radius: 0;
}

.leaflet-popup-tip {
  background: $feather;
}

.leaflet-popup-close-button {
  margin-top: 5px;
}

.marker-message::before {
  content: "\a0";
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -14px;
  line-height: 1px;
}

.marker-message.community::before {
  border-top: 5px solid $pumpkin;
}

.marker-message.official::before {
  border-top: 5px solid $teal2;
}

.marker-message.pending::before {
  border-top: 5px solid $sunflower;
}

.marker-message-title {
  color: $gold;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  margin-top: .5em;
}

.marker-message-content {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: $gris;
}

.marker-message-label {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: $asbestos;
}

.marker-message-label > a,
.marker-message-content > a {
  font-size: 13px;
}
