@import '../../ui-controls-variables';

.inputGroup {
  .labelWrapper {
    display: flex;
    margin-bottom: 13px;
    align-items: center;

    .inputGroupLabel {
      font-size: 20px;
      margin-right: .5rem;

      &.required::after {
        @extend %red-asterisk;
      }
    }
  }

  .inputGroupElements {
    margin-top: 12px;

    > * {
      margin-top: 4px;
    }
  }
}
